# Treat Unity binary files as raw data so GitHub doesn't corrupt them
*.wasm binary
*.data binary
*.framework.js binary

# Ensure they don't get treated as text to prevent corruption
*.wasm -text
*.data -text
*.framework.js -text
